style.css

hi {
    color: green;
}

hi {
    border-style: double;
    border-color: skyblue;
}

body {
    background-color: paleturquoise;
    font-family: "Montserrat", sans-serif;
}

img {
    margin-right: auto;
}
